* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i));
    font-family: Impact, Charcoal, sans-serif;
    font-size: 75px;
    letter-spacing: 6px;
    word-spacing: -1px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

@keyframes flip {
    0%,
    80% {
        transform: rotateY(360deg)
    }
}