<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADERA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/intro.css') }}">

    <script>

    // redirect to the index page after 3 seconds
    setTimeout(function(){
        window.location.href = 'http://127.0.0.1:5000/index';
    }, 3000);
    </script>

</head>


<body>
    <div class="waviy">
        <span style="--i:1">A</span>
        <span style="--i:2">D</span>
        <span style="--i:3">E</span>
        <span style="--i:4">R</span>
        <span style="--i:5">A</span>
    </div>
</body>


</html>